body {
  margin: 0;
  background: #cc0000;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Helvetica Neue", sans-serif, Arial;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  text-align: center;
  position: relative;
}

.date {
  margin-top: auto;
  font-weight: 200;
  letter-spacing: 0.05em;
}

.date-top {
  font-size: 9vw;
}

.slash {
  font-size: 0.3em;
}

.date-bottom {
  font-size: 4.5vw;
}

.chevron {
  margin-bottom: 2rem;
  font-size: 3rem;
  cursor: pointer;
  animation: bounce 2s infinite;
  color: white;
  text-decoration: none;
}

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(10px); }
}
