html { 
  background: url(https://cloud.githubusercontent.com/assets/7255452/11321011/19ada7a6-9064-11e5-8178-c4c8439e3ab0.gif) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
